<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:tal="http://xml.zope.org/namespaces/tal" xml:lang="en" lang="en"> 
<head>
	<title>SmallTAL - tal:replace test</title>
</head>
<body>
	<p tal:attributes="href default" href="http://www.test.com">Sample text</p>
	<p tal:attributes="href default" href="http://www.test.com" />
	<p tal:attributes="href text" href="http://www.test.com">Sample text</p>
	<p tal:attributes="href text" href="http://www.test.com" />
	<p tal:attributes="href boolT" href="http://www.test.com">Sample text</p>
	<p tal:attributes="href boolT" href="http://www.test.com" />
	<p tal:attributes="href boolF" href="http://www.test.com">Sample text</p>
	<p tal:attributes="href boolF" href="http://www.test.com" />
	<p tal:attributes="href boolF | default" href="http://www.test.com">Sample text</p>
	<p tal:attributes="href boolF | default" href="http://www.test.com" />
	<p tal:attributes="href boolT | default" href="http://www.test.com">Sample text</p>
	<p tal:attributes="href boolT | default" href="http://www.test.com" />
	<p tal:attributes="href nothing" href="http://www.test.com">Sample text</p>
	<p tal:attributes="href nothing" href="http://www.test.com" />
</body>
</html>
