<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:tal="http://xml.zope.org/namespaces/tal" xml:lang="en" lang="en"> 
<head>
	<title>SmallTAL - tal:content test</title>
</head>
<body>
	<p tal:content="default">Sample text</p>
	<p tal:content="default" />
	<p tal:content="text">Sample text</p>
	<p tal:content="text" />
	<p tal:content="boolT">Sample text</p>
	<p tal:content="boolT" />
	<p tal:content="boolF">Sample text</p>
	<p tal:content="boolF" />
	<p tal:content="boolF | default">Sample text</p>
	<p tal:content="boolF | default" />
	<p tal:content="boolT | default">Sample text</p>
	<p tal:content="boolT | default" />
	<p tal:content="nothing">Sample text</p>
	<p tal:content="nothing" />
</body>
</html>
